body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom, #1d386f, #005487, #007097, #048ba2, #43a6aa);
}

section {
    display: flex;
    border: 20px solid white;
    border-style: inset;
    width: 800px;
    height: 430px;
}

section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .5;
    transition: .5s ease;
}

section img:hover {
    width: 280px;
    opacity: 1;
    filter: contrast(150%);
}

.html {
    background-color: #EB5B24;
}

.css {
    background-color: #2376FF;
}

.php {
    background-color: #848DBA;
}

.laravel {
    background-color: #F0F0F0;
}